%ol.breadcrumb
  %li.active
    =link_to "异常类型列表"

%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "编辑"), url(:issue_types, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:issue_types, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:issue_type, :id)
        %th.header= "异常类型名称"
        %th.header.list-row-action-header

    %tbody
      -@issue_types.each do |issue_type|
        %tr.list-row
          %td.list-column=issue_type.id
          %td.list-column=issue_type.name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:issue_types, :edit, :id => issue_type.id), :rel => :tooltip, :title => "#{pat(:edit)} issue_type", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} issue_type", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title="删除"
                .popover-content
                  = form_tag url(:issue_types, :destroy, :id => issue_type.id), :method => :delete do
                    =submit_tag "确认", :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel="取消"
