%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:issue_types, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:issue_types, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:issue_types, :destroy_many), :method => :delete do
                      =hidden_field_tag :issue_type_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= mat(:issue_type, :id)
        %th.header= mat(:issue_type, :name)
        %th.header= mat(:issue_type, :created_at)
        %th.header= mat(:issue_type, :updated_at)
        %th.header.list-row-action-header

    %tbody
      -@issue_types.each do |issue_type|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'issue_type_ids[]', :value => issue_type.id, :class => 'list-selectable-checkbox'
          %td.list-column=issue_type.id
          %td.list-column=issue_type.name
          %td.list-column=time_ago_in_words issue_type.created_at
          %td.list-column=time_ago_in_words issue_type.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:issue_types, :edit, :id => issue_type.id), :rel => :tooltip, :title => "#{pat(:edit)} issue_type", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} issue_type", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "issue_type")
                .popover-content
                  = form_tag url(:issue_types, :destroy, :id => issue_type.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel=pat(:cancel)
