.tabs-content
  %table#list.table.table-bordered.table-hover.table-condensed
    %thead
      %th.header= "订单号"
      %th.header= "需求类型"
      %th.header= "订单状态"
      %th.header= "服务器"
      %th.header= "角色"
      %th.header= "初始等级"
      %th.header= "需求" 
      %th.header= "帐号" 
      %th.header= "密码"
      %th.header= "旺旺" 
      %th.header= "电话" 
      %th.header= mat(:order, :qq)
      %th.header= "金额"
      %th.header= "支付方式"
      %th.header= "备注" 
      %th.header= "创建时间" 
      %th.header.list-row-action-header

    %tbody
      -@orders.each do |order|
        %tr.list-row
          %td.list-column=order.order_no
          %td.list-column=order.type.name
          %td.list-column=order.status.name
          %td.list-column=order.department.name
          %td.list-column=order.acter
          %td.list-column=order.level
          %td.list-column=order.demand
          %td.list-column=order.acter_account
          %td.list-column=order.acter_pw
          %td.list-column=order.wangwang
          %td.list-column=order.mobile
          %td.list-column=order.qq
          %td.list-column=order.amount
          %td.list-column=order.paytype
          %td.list-column=order.memo
          %td.list-column=order.created_at.strftime("%Y-%m-%d %H:%M")
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:file), :href => url(:orders, :view, :id => order.id), :rel => :tooltip, :title => "查看", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon("ok-sign"), :rel => :tooltip, :title => "审核", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title="审核"
                .popover-content
                  = form_tag url(:orders, :audit, :id => order.id), :method => :put do
                    =submit_tag "审核通过", :class =>'list-row-action-popover-delete-one-btn btn btn-success btn-small'
                    .btn.btn-default.btn-small.cancel="取消"
              =link_to tag_icon("question-sign"), :rel => :tooltip, :title => "异常", :"data-toggle" => "modal", :"data-b-id" => order.id, :"data-target" => "#errorModel", :class => 'list-row-action-wrapper-link', :id => "show_modal"
.modal.fade{:id => "errorModel", :role => "dialog", :tabindex => "-1", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      = form_tag url(:orders, :to_issue), :method => :put do
        .modal-header="订单异常"
        .modal-body
          %fieldset.control-group
            =label_tag "异常类型", :class => 'control-label'
            .controls
              =select_tag :issus_type,  :collection => @issue_types, :fields => [:name, :id], :class => 'form-control', :autofocus => true
              
          %fieldset.control-group
            =label_tag "异常备注", :class => 'control-label'
            .controls
              =text_field_tag :issus_memo, :class => 'form-control input-large input-with-feedback'
              
          =hidden_field_tag :model_id, :id => "model_id"
        .modal-footer
          %button.btn.btn-default{:type => "button",:"data-dismiss" => "modal"}="关闭"
          =submit_tag "保存", :class =>' btn btn-primary'