%ol.breadcrumb
  %li.active
    =link_to "新增订单列表"
.panel
  = form_tag url(:orders, :index), :method => :get, :class => "form-horizontal" do
    .form-group
      =label_tag "订单号", :class => 'col-md-1 control-label'
      .col-md-2
        =text_field_tag "q[order_no_eq]", :class => 'form-control',:value => params[:q][:order_no_eq]

      =label_tag "订单类型", :class => 'col-md-1 control-label'
      .col-md-2
        =select_tag "q[type_id_eq]", :collection => @types, :fields => [:name, :id], :class => 'form-control' ,:value => params[:q][:type_id_eq]

      =label_tag "服务器", :class => 'col-md-1 control-label'
      .col-md-2
        =select_tag "q[department_id_eq]", :collection => @departments, :fields => [:name, :id], :class => 'form-control',:value => params[:q][:department_id_eq]

      =label_tag "角色", :class => 'col-md-1 control-label'
      .col-md-2
        =text_field_tag "q[acter_cont]", :class => 'form-control',:value => params[:q][:acter_cont]
    .form-group
      .col-md-2.col-md-offset-10
        =submit_tag "搜索", :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'

%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "列表"), url(:orders, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:orders, :new)


.tabs-content
  %table#list.table.table-bordered.table-hover.table-condensed
    %thead
      %th.header= "订单号"
      %th.header= "订单类型"
      %th.header= "订单状态"
      %th.header= "服务器"
      %th.header= "角色"
      %th.header= "初始等级"
      %th.header= "需求"
      %th.header= "帐号"
      %th.header= "密码"
      %th.header= "旺旺"
      %th.header= "电话"
      %th.header= mat(:order, :qq)
      %th.header= "金额"
      %th.header= "支付方式"
      %th.header= "备注"
      %th.header= "创建时间"
      %th.header.list-row-action-header

    %tbody
      - @orders.each do |order|
        %tr.list-row{:class => ("danger" if order.issue_type)}
          %td.list-column
            =link_to order.order_no, :href => url(:orders, :view, :id => order.id), :target => "_blank"
          %td.list-column=order.type.name
          %td.list-column=order.status.name
          %td.list-column=order.department.name
          %td.list-column=order.acter
          %td.list-column=order.start_level
          %td.list-column=order.end_level
          %td.list-column=order.acter_account
          %td.list-column=order.acter_pw
          %td.list-column=order.wangwang
          %td.list-column=order.mobile
          %td.list-column
            =order.qq
            =link_to "qq交流", :href => "http://wpa.qq.com/msgrd?v=3&uin=#{order.qq}&site=qq&menu=yes", :target => "_blank"
          %td.list-column=order.amount
          %td.list-column=order.paytype
          %td.list-column=order.memo
          %td.list-column=order.created_at.strftime("%Y-%m-%d %H:%M")
          %td.list-column.list-row-action
            .list-row-action-wrapper
              -if @current_account.is_edit.to_i == 1
                =link_to tag_icon(:edit), :href => url(:orders, :edit, :id => order.id), :rel => :tooltip, :title => "#{pat(:edit)} order", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon("ok-sign"), :rel => :tooltip, :title => "审核", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title="审核"
                .popover-content
                  = form_tag url(:orders, :audit, :id => order.id), :method => :put do
                    =submit_tag "审核通过", :class =>'list-row-action-popover-delete-one-btn btn btn-success btn-small'
                    .btn.btn-default.btn-small.cancel="取消"
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "删除", :"data-toggle" => "modal", :"data-b-id" => order.id, :"data-target" => "#deleteModel", :class => 'list-row-action-wrapper-link show_modal'
              
              -unless order.issue_type
                =link_to tag_icon("question-sign"), :rel => :tooltip, :title => "异常", :"data-toggle" => "modal", :"data-b-id" => order.id, :"data-target" => "#errorModel", :class => 'list-row-action-wrapper-link show_modal'
.modal.fade{:id => "errorModel", :role => "dialog", :tabindex => "-1", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      = form_tag url(:orders, :to_issue), :method => :put do
        .modal-header="订单异常"
        .modal-body
          %fieldset.control-group
            =label_tag "异常类型", :class => 'control-label'
            .controls
              =select_tag :issus_type,  :collection => @issue_types, :fields => [:name, :id], :class => 'form-control', :autofocus => true

          %fieldset.control-group
            =label_tag "异常备注", :class => 'control-label'
            .controls
              =text_field_tag :issus_memo, :class => 'form-control input-large input-with-feedback'

          =hidden_field_tag :model_id, :id => "model_id"
        .modal-footer
          %button.btn.btn-default{:type => "button",:"data-dismiss" => "modal"}="关闭"
          =submit_tag "保存", :class =>' btn btn-primary'
          
.modal.fade{:id => "deleteModel", :role => "dialog", :tabindex => "-1", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      = form_tag url(:orders, :invalid), :method => :delete do
        .modal-header="删除"
        .modal-body
          %fieldset.control-group
            =label_tag "说明", :class => 'control-label'
            .controls
              =text_field_tag :delete_memo, :class => 'form-control input-large input-with-feedback'

          =hidden_field_tag :model_id, :id => "model_id"
        .modal-footer
          %button.btn.btn-default{:type => "button",:"data-dismiss" => "modal"}="关闭"
          =submit_tag "保存", :class =>' btn btn-primary'
