%ol.breadcrumb
  %li
    =link_to "团队处理列表", url(:order_groups, :brush_group)
  %li.active
    =link_to "团队详情"

.row
  -if(@group.status.id == 4) 
    .row
      =form_tag url(:order_groups, :update_level, :id => @group.id), :method => :put do
        .col-md-3
          ="团队名称:   #{@group.name} #{@group.department.name} #{@group.no} 团"
          
        .col-md-6
          ="团队当前级别: #{@group.now_level}"
        .col-md-2.text-right
          =select_tag :level,:options => @selectable_level, :class => 'form-control'
        .col-md-1
          =submit_tag "更新级别", :class =>'list-row-action-popover-delete-one-btn btn btn-success btn-small'
    %br/
    .row
      =form_tag url(:order_groups, :update_step, :id => @group.id), :method => :put do
        .col-md-9
          ="已完成的任务:"
          -@group.tasks.each do |t|
            =t.step.name
        .col-md-2
          =select_tag :step_id, :collection => @type.steps, :fields => [:name, :id], :class => 'form-control'
        .col-md-1
          =submit_tag "更新任务", :class =>'btn btn-danger'
    %br/
    .row
      =form_tag url(:order_groups, :update_status, :id => @group.id), :method => :put do
        .col-md-1.col-sm-offset-11
          =hidden_field_tag :status_id, :value => 5
          =submit_tag "团队结束", :class =>'btn btn-info'
.row
  .tabs-content
    %table#list.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th.header= "订单号"
          %th.header= "订单类型"
          %th.header= "订单状态"
          %th.header= "服务器"
          %th.header= "角色"
          %th.header= "初始等级"
          %th.header= "当前等级"
          %th.header= "需求" 
          %th.header= "帐号" 
          %th.header= "密码"
          %th.header= "旺旺" 
          %th.header= "电话" 
          %th.header= mat(:order, :qq)
          %th.header= "金额"
          %th.header= "支付方式"
          %th.header= "备注" 
          %th.header= "创建时间" 
     

      %tbody
        -@orders.each do |order|
          %tr.list-row
            %td.list-column
              =link_to order.order_no, :href => url(:orders, :view, :id => order.id), :target => "_blank"
            %td.list-column=order.type.name
            %td.list-column=order.status.name
            %td.list-column=order.department.name
            %td.list-column=order.acter
            %td.list-column=order.start_level
            %td.list-column=order.now_level
            %td.list-column=order.end_level
            %td.list-column=order.acter_account
            %td.list-column=order.acter_pw
            %td.list-column=order.wangwang
            %td.list-column=order.mobile
            %td.list-column=order.qq
            %td.list-column=order.amount
            %td.list-column=order.paytype
            %td.list-column=order.memo
            %td.list-column=order.created_at.strftime("%Y-%m-%d %H:%M")

         