%ol.breadcrumb
  %li
    =link_to @type.name, url(:types, :index)
  %li.active
    =link_to "类型任务列表"

%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "列表"), url(:steps, :index, :type_id => @type_id)
  %li=link_to tag_icon(:plus, "新增"), url(:steps, :new, :type_id => @type_id)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:step, :id)
        %th.header= "任务名称"
        %th.header= "关联等级"
        %th.header= "订单类型"
        %th.header.list-row-action-header

    %tbody
      -@steps.each do |step|
        %tr.list-row
          %td.list-column=step.id
          %td.list-column=step.name
          %td.list-column=step.level
          %td.list-column=step.type.name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:steps, :edit, :id => step.id, :type_id => @type_id), :rel => :tooltip, :title => "#{pat(:edit)} step", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} step", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title="删除"
                .popover-content
                  = form_tag url(:steps, :destroy, :id => step.id, :type_id => @type_id), :method => :delete do
                    =submit_tag "确认", :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel="取消"
